name: Build AX18 Firmware

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Free up disk space
        run: |
          echo "Before cleanup:"
          df -h
          sudo rm -rf /usr/share/dotnet /opt/ghc /usr/local/lib/android /opt/hostedtoolcache
          echo "After cleanup:"
          df -h

      - name: Checkout your repo
        uses: actions/checkout@v4

      - name: Checkout OpenWrt source
        uses: actions/checkout@v4
        with:
          repository: LiBwrt/openwrt-6.x
          ref: 25.12-nss
          path: libwrt

      - name: Copy ax18.config
        run: |
          cp ./Config/AX18.config libwrt/.config

      - name: Update & install feeds
        working-directory: libwrt
        run: |
          ./scripts/feeds update -a
          ./scripts/feeds install -a

      - name: Prepare build
        working-directory: libwrt
        run: make defconfig

      - name: Show disk usage before download
        run: df -h

      - name: Download sources
        working-directory: libwrt
        run: make -j1 download V=s

      - name: Show disk usage before build
        run: df -h

      - name: Build firmware
        working-directory: libwrt
        run: make -j$(nproc) V=s

      - name: Upload firmware
        uses: actions/upload-artifact@v4
        with:
          name: ax18-wifi
          path: libwrt/bin/targets/qualcommax/ipq60xx/
